{% extends 'base.html' %}

<style>
    .mydivstyle:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        transform: translateY(-20px);    
    }
    hr.rounded{
        border-top: 10px solid lightblue;
        border-radius: 5px;
    }
</style>

{% block content %}

{% include 'parts/alert.html' %}

<h1 class="text-center mt-3">Admin Dashboard</h1>
<hr>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 mydivstyle">
            <h2 style="color: red;">{{d}}</h2>
            <a href="{% url 'view_doctor' %}">
                <h4 style="color: blue">Doctor</h4>
                <hr class="rounded">
            </a>
        </div>

        <div class="col-sm-4 mydivstyle">
            <h2 style="color: red;">{{p}}</h2>
            <a href="{% url 'view_patient' %}">
                <h4 style="color: blue">Patient</h4>
                <hr class="rounded">
            </a>
        </div>

        <div class="col-sm-4 mydivstyle">
            <h2 style="color: red;">{{a}}</h2>
            <a href="{% url 'view_appoinment' %}">
                <h4 style="color: blue">Appoinment</h4>
                <hr class="rounded">
            </a>
        </div>
    </div>
</div>
<br><br><br><br><br>

{% endblock content %}   